<launch>

  <!-- position determination -->
  <include file="$(find goalfinder)/launch/_amcl.launch" />

  <!-- get marker positions -->
  <include file="$(find goalfinder)/launch/_markers.launch" />

  <!-- transform marker positions to useable navigation goals -->
  <node name="goalfinder" pkg="goalfinder" type="goalfinder" output="screen">
    <param name="goal_distance_from_marker" value="0.4" />
  </node>
</launch>
