<launch>

  <!-- Setup laser scanner -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
  <node name="static_link_laser_to_robot" pkg="tf" type="static_transform_publisher" args="0 0 0 3.141592 0 0 base_footprint laser 100" />

  <!-- Map server for map recorded with slam.launch -->
  <arg name="map_file" default="$(find pathfinder)/map/2019-01-29.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL (Adaptive Monte Carlo Localization) -->
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <include file="$(find turtlebot_navigation)/launch/includes/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

</launch>
