<launch>
    <include file="$(find aruco_ros)/launch/camera.launch" />

    <arg name="markerSize"      default="0.176"/>    <!-- in m -->
    <arg name="ref_frame"       default="map"/> <!-- @todo:  -->
    <arg name="cam_frame"       default="markers_link"/>

    <!-- Rotate aruc marker coordinate system to camera coordinate system -->
    <!--node name="camera_to_markers_link" pkg="tf" type="static_transform_publisher" args="0 0 0 -1.570796 0 -1.570796 camera_link $(arg cam_frame) 100" / -->
    <node name="camera_to_markers_link" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 camera_link $(arg cam_frame) 100" />

    <!-- Publish all markers through one topic -->
    <node pkg="aruco_ros" type="marker_publisher" name="aruco_marker">
        <remap from="/camera_info" to="/camera/rgb/camera_info" />
        <remap from="/image" to="/camera/rgb/image_rect_color" />
        <param name="image_is_rectified" value="True"/>
        <param name="use_camera_info"    value="True"/>
        <param name="marker_size"        value="$(arg markerSize)"/>
        <param name="reference_frame"    value="$(arg ref_frame)"/>
        <param name="camera_frame"       value="$(arg cam_frame)"/>
    </node>

    <!-- Broadcast topic poses on TF -->
    <node name="aruco_tf_broadcaster" pkg="aruco_tf_broadcaster" type="broadcaster" />

</launch>
