<launch>

  <!-- Velocity smoother -->
  <arg name="node_name"             default="velocity_smoother"/>
  <arg name="nodelet_manager_name"  default="mobile_base_nodelet_manager"/>
  <arg name="config_file"           default="$(find bringup_launchers)/param/velocity_smoother/config.yaml"/>
  <arg name="raw_cmd_vel_topic"     default="raw_cmd_vel"/>
  <arg name="smooth_cmd_vel_topic"  default="/cmd_vel_mux/input/navi"/>
  <arg name="robot_cmd_vel_topic"   default="/mobile_base/commands/velocity"/>
  <arg name="odom_topic"            default="odom"/>

  <node pkg="nodelet" type="nodelet" name="$(arg node_name)"
    args="load yocs_velocity_smoother/VelocitySmootherNodelet $(arg nodelet_manager_name)">

    <rosparam file="$(arg config_file)" command="load"/>

    <remap from="$(arg node_name)/raw_cmd_vel"    to="$(arg raw_cmd_vel_topic)"/>
    <remap from="$(arg node_name)/smooth_cmd_vel" to="$(arg smooth_cmd_vel_topic)"/>

    <remap from="$(arg node_name)/robot_cmd_vel"  to="$(arg robot_cmd_vel_topic)"/>
    <remap from="$(arg node_name)/odometry"       to="$(arg odom_topic)"/>
  </node>

  <!-- Normal move_base startup, just with velocity command output mapped to smoother -->
  <include file="$(find bringup_launchers)/launch/normal.launch">
    <arg name="cmd_vel_topic" value="$(arg raw_cmd_vel_topic)" />
  </include>


</launch>
